<div class="nested-fields">

	<div class ="field">
	<%= d.hidden_field :reward_id, :value => id %>
	<%= d.hidden_field :amount, :value => amount %>
	<%= d.hidden_field :project_id, :value => project_id %>
		
	</div>
	
</div>



