<div class="nested-fields">

	<div class ="field">
	
		<%= f.hidden_field :reward_id, :value => reward_id %>
		<%= f.hidden_field :amount, :value => reward_amount %>
		<%= f.hidden_field :project_id, :value => project_id %>
	</div>
	
</div>



