
<button id="reward">Purchase</button>

<div class="Pay">

<%= form_for (@project) do |f|%>
	<%= f.fields_for :rewards do |rewards| %>
		<%= render 'reward_fields', :f => rewards%>
		<%end%>
		<%= f.submit %>
	<%end%>

</div>