<div class="gridwrapper">
                <div class="tile">
                    <div class="tileinner">
 						<%= project.name %>
 						<%= project.description %>
 						<%= link_to 'More Details', project_path(project) %>
                    </div>
                </div>
</div>
