<div class="gridwrapper">
                <div class="tile">
                    <div class="tileinner">
 						<%= reward.amount %>
 						<%= reward.description %>
                    </div>
                </div>
</div>
