<h1> Project </h1>

<div class = "project_options">
    <%= link_to "Edit", edit_project_path(@project) %> | 
    <%= link_to "Delete", @project, :confirm => "Are you sure you want to delete this project?", :method => :delete %>
</div>


<div id="projects">
  <%= render 'project_single' %>
</div>